*{
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

.nav{
    background-color: #FFE29E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5%;
    font-size: 100%;
}

.list-menu{
    display: flex;
    list-style: none;
    gap: 10%;
    font-weight: 500;
}

.list-item1{
    font-weight: 900;
    font-size: large;
    text-decoration: none;
    color: black;
}

.list-item2{
    text-decoration: none;
    font-size: large;
    color: black;
}

.list-item3{
    text-decoration: none;
    font-size: large;
    color: black;
}

.navbarbuttons{
    display: flex;
    list-style: none;
    gap: 8%;
    width: 19%;
    align-items: center;
}

.logo{
    width: 10%;
}

.Registrarse{
    background-color: #F0811B;
    padding: 10px;
    border-radius: 20px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.iniciarsesion{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: 800;
    color: #F0811B;
    text-decoration: none;
}

.first-section{
    background-color: #F0811B;
}

.tittle{
    color: white;
    font-size: 270%;
    font-weight: 900;
}

.tittle3{
    color: white;
    font-size: 270%;
    font-weight: 900;
    margin-top: 10%;
}

.parragraph{
    color: white;
}

.text1{
    width: 30%;
    padding: 6%;
    padding-left: 10%;
    position: relative;
}

.imagen{
    width: 100%;
    position: absolute;
  
}

.principio{
    display: flex ;
    flex-direction:column ;
    align-items: center;
}

.prinimg{
    width: 80%;
}

.second-section{
    display: flex;
    background-color: #F0811B;
    margin-top: 10%;
}

.tittle2{
    color: white;
    font-size: 130%;
    font-weight: 700;
}
